<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.sinosafe.dao.CreateWXSernoMapper">
  <select id="getWXSerno" resultType="String">
    select  ('WXSQ'||to_char(sysdate,'yyyymmdd')||get_seq_next('WX_SERNO_VALUE')) from dual
  </select>

</mapper>