<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.sinosafe.dao.IqpMeWsLoanResultMapper">
  <resultMap id="BaseResultMap" type="cn.com.sinosafe.domain.entity.IqpMeWsLoanResult">
    <result column="PK_ID" jdbcType="VARCHAR" property="pkId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="RESULT" jdbcType="CHAR" property="result" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="MSG" jdbcType="VARCHAR" property="msg" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.sinosafe.domain.entity.IqpMeWsLoanResult">
    insert into IQP_ME_WS_LOAN_RESULT (PK_ID, TYPE, RESULT, 
      INPUT_DATE, MSG)
    values (#{pkId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{result,jdbcType=CHAR}, 
      #{inputDate,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.sinosafe.domain.entity.IqpMeWsLoanResult">
    insert into IQP_ME_WS_LOAN_RESULT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        PK_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="result != null">
        RESULT,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="msg != null">
        MSG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=CHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>