<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.sinosafe.dao.IqpMeApiCopMapper">
  <resultMap id="BaseResultMap" type="cn.com.sinosafe.domain.entity.IqpMeApiCop">
    <result column="ACCID" jdbcType="VARCHAR" property="accid" />
    <result column="COP_NO" jdbcType="VARCHAR" property="copNo" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="INTEFACES" jdbcType="VARCHAR" property="intefaces" />
    <result column="BR_ID" jdbcType="VARCHAR" property="brId" />
    <result column="INPUT_ID" jdbcType="VARCHAR" property="inputId" />
    <result column="CUS_MGR" jdbcType="VARCHAR" property="cusMgr" />
    <result column="MGR_NAME" jdbcType="VARCHAR" property="mgrName" />
    <result column="MGR_PHONE" jdbcType="VARCHAR" property="mgrPhone" />
    <result column="FTP_ACC" jdbcType="VARCHAR" property="ftpAcc" />
    <result column="FTP_PWD" jdbcType="VARCHAR" property="ftpPwd" />
    <result column="INSUR_INPUT_ID" jdbcType="VARCHAR" property="insurInputId" />
    <result column="COP_DESC" jdbcType="VARCHAR" property="copDesc" />
    <result column="GROSS_RATE" jdbcType="DECIMAL" property="grossRate" />
    <result column="PRD_ID" jdbcType="VARCHAR" property="prdId" />
    <result column="FTP_HOST" jdbcType="VARCHAR" property="ftpHost" />
    <result column="FTP_PORT" jdbcType="VARCHAR" property="ftpPort" />
    <result column="NOTICE_URL" jdbcType="VARCHAR" property="noticeUrl" />
    <result column="FTP_TYPE" jdbcType="VARCHAR" property="ftpType" />
    <result column="INSUR_TYPE" jdbcType="VARCHAR" property="insurType" />
    <result column="PRE_RULE" jdbcType="CHAR" property="preRule" />
    <result column="AUTO_RULE" jdbcType="CHAR" property="autoRule" />
    <result column="QUERY_CREDIT" jdbcType="CHAR" property="queryCredit" />
    <result column="FTP_DELETE_PATH" jdbcType="VARCHAR" property="ftpDeletePath" />
    <result column="COP_SERNO" jdbcType="VARCHAR" property="copSerno" />
    <result column="WITH_HOLD_KIND" jdbcType="CHAR" property="withHoldKind" />
    <result column="PRD_NAME" jdbcType="VARCHAR" property="prdName" />
  </resultMap>
  
    <sql id="Base_Column_List">
	ACCID, COP_NO, "KEY", 
      INTEFACES, BR_ID, INPUT_ID, 
      CUS_MGR, MGR_NAME, MGR_PHONE, 
      FTP_ACC, FTP_PWD, INSUR_INPUT_ID, 
      COP_DESC, GROSS_RATE, PRD_ID, 
      FTP_HOST, FTP_PORT, NOTICE_URL, 
      FTP_TYPE, INSUR_TYPE, PRE_RULE, 
      AUTO_RULE, QUERY_CREDIT, FTP_DELETE_PATH, 
      COP_SERNO, WITH_HOLD_KIND
  </sql>
    <select id="selectByAccid" parameterType="String" resultMap="BaseResultMap">
  	select 
	<include refid="Base_Column_List" />
	from IQP_ME_API_COP where accid = #{accid,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="cn.com.sinosafe.domain.entity.IqpMeApiCop">
    insert into IQP_ME_API_COP (ACCID, COP_NO, "KEY", 
      INTEFACES, BR_ID, INPUT_ID, 
      CUS_MGR, MGR_NAME, MGR_PHONE, 
      FTP_ACC, FTP_PWD, INSUR_INPUT_ID, 
      COP_DESC, GROSS_RATE, PRD_ID, 
      FTP_HOST, FTP_PORT, NOTICE_URL, 
      FTP_TYPE, INSUR_TYPE, PRE_RULE, 
      AUTO_RULE, QUERY_CREDIT, FTP_DELETE_PATH, 
      COP_SERNO, WITH_HOLD_KIND)
    values (#{accid,jdbcType=VARCHAR}, #{copNo,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{intefaces,jdbcType=VARCHAR}, #{brId,jdbcType=VARCHAR}, #{inputId,jdbcType=VARCHAR}, 
      #{cusMgr,jdbcType=VARCHAR}, #{mgrName,jdbcType=VARCHAR}, #{mgrPhone,jdbcType=VARCHAR}, 
      #{ftpAcc,jdbcType=VARCHAR}, #{ftpPwd,jdbcType=VARCHAR}, #{insurInputId,jdbcType=VARCHAR}, 
      #{copDesc,jdbcType=VARCHAR}, #{grossRate,jdbcType=DECIMAL}, #{prdId,jdbcType=VARCHAR}, 
      #{ftpHost,jdbcType=VARCHAR}, #{ftpPort,jdbcType=VARCHAR}, #{noticeUrl,jdbcType=VARCHAR}, 
      #{ftpType,jdbcType=VARCHAR}, #{insurType,jdbcType=VARCHAR}, #{preRule,jdbcType=CHAR}, 
      #{autoRule,jdbcType=CHAR}, #{queryCredit,jdbcType=CHAR}, #{ftpDeletePath,jdbcType=VARCHAR}, 
      #{copSerno,jdbcType=VARCHAR}, #{withHoldKind,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.sinosafe.domain.entity.IqpMeApiCop">
    insert into IQP_ME_API_COP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accid != null">
        ACCID,
      </if>
      <if test="copNo != null">
        COP_NO,
      </if>
      <if test="key != null">
        "KEY",
      </if>
      <if test="intefaces != null">
        INTEFACES,
      </if>
      <if test="brId != null">
        BR_ID,
      </if>
      <if test="inputId != null">
        INPUT_ID,
      </if>
      <if test="cusMgr != null">
        CUS_MGR,
      </if>
      <if test="mgrName != null">
        MGR_NAME,
      </if>
      <if test="mgrPhone != null">
        MGR_PHONE,
      </if>
      <if test="ftpAcc != null">
        FTP_ACC,
      </if>
      <if test="ftpPwd != null">
        FTP_PWD,
      </if>
      <if test="insurInputId != null">
        INSUR_INPUT_ID,
      </if>
      <if test="copDesc != null">
        COP_DESC,
      </if>
      <if test="grossRate != null">
        GROSS_RATE,
      </if>
      <if test="prdId != null">
        PRD_ID,
      </if>
      <if test="ftpHost != null">
        FTP_HOST,
      </if>
      <if test="ftpPort != null">
        FTP_PORT,
      </if>
      <if test="noticeUrl != null">
        NOTICE_URL,
      </if>
      <if test="ftpType != null">
        FTP_TYPE,
      </if>
      <if test="insurType != null">
        INSUR_TYPE,
      </if>
      <if test="preRule != null">
        PRE_RULE,
      </if>
      <if test="autoRule != null">
        AUTO_RULE,
      </if>
      <if test="queryCredit != null">
        QUERY_CREDIT,
      </if>
      <if test="ftpDeletePath != null">
        FTP_DELETE_PATH,
      </if>
      <if test="copSerno != null">
        COP_SERNO,
      </if>
      <if test="withHoldKind != null">
        WITH_HOLD_KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accid != null">
        #{accid,jdbcType=VARCHAR},
      </if>
      <if test="copNo != null">
        #{copNo,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="intefaces != null">
        #{intefaces,jdbcType=VARCHAR},
      </if>
      <if test="brId != null">
        #{brId,jdbcType=VARCHAR},
      </if>
      <if test="inputId != null">
        #{inputId,jdbcType=VARCHAR},
      </if>
      <if test="cusMgr != null">
        #{cusMgr,jdbcType=VARCHAR},
      </if>
      <if test="mgrName != null">
        #{mgrName,jdbcType=VARCHAR},
      </if>
      <if test="mgrPhone != null">
        #{mgrPhone,jdbcType=VARCHAR},
      </if>
      <if test="ftpAcc != null">
        #{ftpAcc,jdbcType=VARCHAR},
      </if>
      <if test="ftpPwd != null">
        #{ftpPwd,jdbcType=VARCHAR},
      </if>
      <if test="insurInputId != null">
        #{insurInputId,jdbcType=VARCHAR},
      </if>
      <if test="copDesc != null">
        #{copDesc,jdbcType=VARCHAR},
      </if>
      <if test="grossRate != null">
        #{grossRate,jdbcType=DECIMAL},
      </if>
      <if test="prdId != null">
        #{prdId,jdbcType=VARCHAR},
      </if>
      <if test="ftpHost != null">
        #{ftpHost,jdbcType=VARCHAR},
      </if>
      <if test="ftpPort != null">
        #{ftpPort,jdbcType=VARCHAR},
      </if>
      <if test="noticeUrl != null">
        #{noticeUrl,jdbcType=VARCHAR},
      </if>
      <if test="ftpType != null">
        #{ftpType,jdbcType=VARCHAR},
      </if>
      <if test="insurType != null">
        #{insurType,jdbcType=VARCHAR},
      </if>
      <if test="preRule != null">
        #{preRule,jdbcType=CHAR},
      </if>
      <if test="autoRule != null">
        #{autoRule,jdbcType=CHAR},
      </if>
      <if test="queryCredit != null">
        #{queryCredit,jdbcType=CHAR},
      </if>
      <if test="ftpDeletePath != null">
        #{ftpDeletePath,jdbcType=VARCHAR},
      </if>
      <if test="copSerno != null">
        #{copSerno,jdbcType=VARCHAR},
      </if>
      <if test="withHoldKind != null">
        #{withHoldKind,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <select id="getIqpMeApiCopByAccid" parameterType="String" resultMap="BaseResultMap">
  	select b.prd_name,a.*
  	from iqp_me_api_cop a
  	left join prd_basicinfo b on (a.prd_id = b.prd_code or a.prd_id = b.new_prd_code)
  	where a.accid = #{accid,jdbcType=VARCHAR}
  </select>
</mapper>