<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.sinosafe.dao.PspClaimListMapper">
  <resultMap id="BaseResultMap" type="cn.com.sinosafe.domain.entity.PspClaimList">
    <id column="SERNO" jdbcType="VARCHAR" property="serno" />
    <id column="PS_PERD_NO" jdbcType="DECIMAL" property="psPerdNo" />
    <result column="BILL_NO" jdbcType="VARCHAR" property="billNo" />
    <result column="DE_IR" jdbcType="DECIMAL" property="deIr" />
    <result column="UNSET_PS_PRCP_AMT" jdbcType="DECIMAL" property="unsetPsPrcpAmt" />
    <result column="UNSET_PS_NORM_INT_AMT" jdbcType="DECIMAL" property="unsetPsNormIntAmt" />
    <result column="UNSET_PS_OD_INT_AMT" jdbcType="DECIMAL" property="unsetPsOdIntAmt" />
    <result column="UNSET_PS_COMM_OD_INT" jdbcType="DECIMAL" property="unsetPsCommOdInt" />
    <result column="OVER_DAYS" jdbcType="DECIMAL" property="overDays" />
    <result column="EST_OD_COMM_AMT" jdbcType="DECIMAL" property="estOdCommAmt" />
    <result column="THIS_CLAIM_AMOUNT" jdbcType="DECIMAL" property="thisClaimAmount" />
    <result column="THIS_CLAIM_AMOUNT_SUM" jdbcType="DECIMAL" property="thisClaimAmountSum" />
    <result column="PERD_STATUS" jdbcType="VARCHAR" property="perdStatus" />
    <result column="OVER_DATE" jdbcType="VARCHAR" property="overDate" />
    <result column="INIT_STATUS" jdbcType="VARCHAR" property="initStatus" />
    <result column="NET_PHONE" jdbcType="VARCHAR" property="netPhone" />
    <result column="APP_DATE" jdbcType="VARCHAR" property="appDate" />
    <result column="SHOULD_ALSO_DATE" jdbcType="VARCHAR" property="shouldAlsoDate" />
  </resultMap>
  <sql id="Base_Column_List">
    SERNO, PS_PERD_NO, BILL_NO, DE_IR, UNSET_PS_PRCP_AMT, UNSET_PS_NORM_INT_AMT, UNSET_PS_OD_INT_AMT, 
    UNSET_PS_COMM_OD_INT, OVER_DAYS, EST_OD_COMM_AMT, THIS_CLAIM_AMOUNT, THIS_CLAIM_AMOUNT_SUM, 
    PERD_STATUS, OVER_DATE, INIT_STATUS, NET_PHONE, APP_DATE, SHOULD_ALSO_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.com.sinosafe.domain.entity.PspClaimList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PSP_CLAIM_LIST
    where SERNO = #{serno,jdbcType=VARCHAR}
      and PS_PERD_NO = #{psPerdNo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.com.sinosafe.domain.entity.PspClaimList">
    delete from PSP_CLAIM_LIST
    where SERNO = #{serno,jdbcType=VARCHAR}
      and PS_PERD_NO = #{psPerdNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.com.sinosafe.domain.entity.PspClaimList">
    insert into PSP_CLAIM_LIST (SERNO, PS_PERD_NO, BILL_NO, 
      DE_IR, UNSET_PS_PRCP_AMT, UNSET_PS_NORM_INT_AMT, 
      UNSET_PS_OD_INT_AMT, UNSET_PS_COMM_OD_INT, OVER_DAYS, 
      EST_OD_COMM_AMT, THIS_CLAIM_AMOUNT, THIS_CLAIM_AMOUNT_SUM, 
      PERD_STATUS, OVER_DATE, INIT_STATUS, 
      NET_PHONE, APP_DATE, SHOULD_ALSO_DATE
      )
    values (#{serno,jdbcType=VARCHAR}, #{psPerdNo,jdbcType=DECIMAL}, #{billNo,jdbcType=VARCHAR}, 
      #{deIr,jdbcType=DECIMAL}, #{unsetPsPrcpAmt,jdbcType=DECIMAL}, #{unsetPsNormIntAmt,jdbcType=DECIMAL}, 
      #{unsetPsOdIntAmt,jdbcType=DECIMAL}, #{unsetPsCommOdInt,jdbcType=DECIMAL}, #{overDays,jdbcType=DECIMAL}, 
      #{estOdCommAmt,jdbcType=DECIMAL}, #{thisClaimAmount,jdbcType=DECIMAL}, #{thisClaimAmountSum,jdbcType=DECIMAL}, 
      #{perdStatus,jdbcType=VARCHAR}, #{overDate,jdbcType=VARCHAR}, #{initStatus,jdbcType=VARCHAR}, 
      #{netPhone,jdbcType=VARCHAR}, #{appDate,jdbcType=VARCHAR}, #{shouldAlsoDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.sinosafe.domain.entity.PspClaimList">
    insert into PSP_CLAIM_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        SERNO,
      </if>
      <if test="psPerdNo != null">
        PS_PERD_NO,
      </if>
      <if test="billNo != null">
        BILL_NO,
      </if>
      <if test="deIr != null">
        DE_IR,
      </if>
      <if test="unsetPsPrcpAmt != null">
        UNSET_PS_PRCP_AMT,
      </if>
      <if test="unsetPsNormIntAmt != null">
        UNSET_PS_NORM_INT_AMT,
      </if>
      <if test="unsetPsOdIntAmt != null">
        UNSET_PS_OD_INT_AMT,
      </if>
      <if test="unsetPsCommOdInt != null">
        UNSET_PS_COMM_OD_INT,
      </if>
      <if test="overDays != null">
        OVER_DAYS,
      </if>
      <if test="estOdCommAmt != null">
        EST_OD_COMM_AMT,
      </if>
      <if test="thisClaimAmount != null">
        THIS_CLAIM_AMOUNT,
      </if>
      <if test="thisClaimAmountSum != null">
        THIS_CLAIM_AMOUNT_SUM,
      </if>
      <if test="perdStatus != null">
        PERD_STATUS,
      </if>
      <if test="overDate != null">
        OVER_DATE,
      </if>
      <if test="initStatus != null">
        INIT_STATUS,
      </if>
      <if test="netPhone != null">
        NET_PHONE,
      </if>
      <if test="appDate != null">
        APP_DATE,
      </if>
      <if test="shouldAlsoDate != null">
        SHOULD_ALSO_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        #{serno,jdbcType=VARCHAR},
      </if>
      <if test="psPerdNo != null">
        #{psPerdNo,jdbcType=DECIMAL},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="deIr != null">
        #{deIr,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsPrcpAmt != null">
        #{unsetPsPrcpAmt,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsNormIntAmt != null">
        #{unsetPsNormIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsOdIntAmt != null">
        #{unsetPsOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsCommOdInt != null">
        #{unsetPsCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="overDays != null">
        #{overDays,jdbcType=DECIMAL},
      </if>
      <if test="estOdCommAmt != null">
        #{estOdCommAmt,jdbcType=DECIMAL},
      </if>
      <if test="thisClaimAmount != null">
        #{thisClaimAmount,jdbcType=DECIMAL},
      </if>
      <if test="thisClaimAmountSum != null">
        #{thisClaimAmountSum,jdbcType=DECIMAL},
      </if>
      <if test="perdStatus != null">
        #{perdStatus,jdbcType=VARCHAR},
      </if>
      <if test="overDate != null">
        #{overDate,jdbcType=VARCHAR},
      </if>
      <if test="initStatus != null">
        #{initStatus,jdbcType=VARCHAR},
      </if>
      <if test="netPhone != null">
        #{netPhone,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="shouldAlsoDate != null">
        #{shouldAlsoDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.sinosafe.domain.entity.PspClaimList">
    update PSP_CLAIM_LIST
    <set>
      <if test="billNo != null">
        BILL_NO = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="deIr != null">
        DE_IR = #{deIr,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsPrcpAmt != null">
        UNSET_PS_PRCP_AMT = #{unsetPsPrcpAmt,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsNormIntAmt != null">
        UNSET_PS_NORM_INT_AMT = #{unsetPsNormIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsOdIntAmt != null">
        UNSET_PS_OD_INT_AMT = #{unsetPsOdIntAmt,jdbcType=DECIMAL},
      </if>
      <if test="unsetPsCommOdInt != null">
        UNSET_PS_COMM_OD_INT = #{unsetPsCommOdInt,jdbcType=DECIMAL},
      </if>
      <if test="overDays != null">
        OVER_DAYS = #{overDays,jdbcType=DECIMAL},
      </if>
      <if test="estOdCommAmt != null">
        EST_OD_COMM_AMT = #{estOdCommAmt,jdbcType=DECIMAL},
      </if>
      <if test="thisClaimAmount != null">
        THIS_CLAIM_AMOUNT = #{thisClaimAmount,jdbcType=DECIMAL},
      </if>
      <if test="thisClaimAmountSum != null">
        THIS_CLAIM_AMOUNT_SUM = #{thisClaimAmountSum,jdbcType=DECIMAL},
      </if>
      <if test="perdStatus != null">
        PERD_STATUS = #{perdStatus,jdbcType=VARCHAR},
      </if>
      <if test="overDate != null">
        OVER_DATE = #{overDate,jdbcType=VARCHAR},
      </if>
      <if test="initStatus != null">
        INIT_STATUS = #{initStatus,jdbcType=VARCHAR},
      </if>
      <if test="netPhone != null">
        NET_PHONE = #{netPhone,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        APP_DATE = #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="shouldAlsoDate != null">
        SHOULD_ALSO_DATE = #{shouldAlsoDate,jdbcType=VARCHAR},
      </if>
    </set>
    where SERNO = #{serno,jdbcType=VARCHAR}
      and PS_PERD_NO = #{psPerdNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.sinosafe.domain.entity.PspClaimList">
    update PSP_CLAIM_LIST
    set BILL_NO = #{billNo,jdbcType=VARCHAR},
      DE_IR = #{deIr,jdbcType=DECIMAL},
      UNSET_PS_PRCP_AMT = #{unsetPsPrcpAmt,jdbcType=DECIMAL},
      UNSET_PS_NORM_INT_AMT = #{unsetPsNormIntAmt,jdbcType=DECIMAL},
      UNSET_PS_OD_INT_AMT = #{unsetPsOdIntAmt,jdbcType=DECIMAL},
      UNSET_PS_COMM_OD_INT = #{unsetPsCommOdInt,jdbcType=DECIMAL},
      OVER_DAYS = #{overDays,jdbcType=DECIMAL},
      EST_OD_COMM_AMT = #{estOdCommAmt,jdbcType=DECIMAL},
      THIS_CLAIM_AMOUNT = #{thisClaimAmount,jdbcType=DECIMAL},
      THIS_CLAIM_AMOUNT_SUM = #{thisClaimAmountSum,jdbcType=DECIMAL},
      PERD_STATUS = #{perdStatus,jdbcType=VARCHAR},
      OVER_DATE = #{overDate,jdbcType=VARCHAR},
      INIT_STATUS = #{initStatus,jdbcType=VARCHAR},
      NET_PHONE = #{netPhone,jdbcType=VARCHAR},
      APP_DATE = #{appDate,jdbcType=VARCHAR},
      SHOULD_ALSO_DATE = #{shouldAlsoDate,jdbcType=VARCHAR}
    where SERNO = #{serno,jdbcType=VARCHAR}
      and PS_PERD_NO = #{psPerdNo,jdbcType=DECIMAL}
  </update>
  <select id="getAllClaimAmt" parameterType="String" resultType="java.util.Map">
  	select nvl(sum(a.UNSET_PS_PRCP_AMT),0) as prinAmt,nvl(sum(a.UNSET_PS_NORM_INT_AMT),0) as intAmt,nvl(sum(a.UNSET_PS_OD_INT_AMT),0) as lcAmt from psp_claim_list a where a.bill_no = #{billNo,jdbcType=VARCHAR}
  </select>
  <select id="getFailClaimAmt" parameterType="String" resultType="java.util.Map">
  	select nvl(sum(a.UNSET_PS_PRCP_AMT),0) as prinAmt,nvl(sum(a.UNSET_PS_NORM_INT_AMT),0) as intAmt,nvl(sum(a.UNSET_PS_OD_INT_AMT),0) as lcAmt from psp_claim_list a,psp_claim_loan b where a.bill_no = b.bill_no and b.claim_status = '02' and a.serno = b.serno and a.bill_no = #{billNo,jdbcType=VARCHAR}
  </select>
</mapper>